* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
  color: white;
}

.inventory {
  position: relative;
  width: 352px;
  min-height: 332px;
  margin: 20px auto 0;
  background-image: url("./minecraft.webp");
  background-position: center top;
  background-repeat: no-repeat;
}

.items {
  position: absolute;
  top: 167px;
  left: 15px;
  width: 323px;
  height: 108px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 36px);
  overflow: hidden;
}

.items li {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 25px;
}

.actions {
  position: absolute;
  top: 342px;
  width: 100%;
}
